body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f5f7fa;
    color: #334155;
}

/* Hiệu ứng cho các section */
section {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-image {
    background-size: cover;
    background-position: center;
}